$primary: #1c6e8c;
$primary-highlight: #a7acd9;
$secondary: #d62246;
$black: #3e363f;
$white: #fffce8;

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: $black;

    .emoji {
      padding-left: 1vw;
      font-size: 170px;
      align-self: center;
    }

    h1 {
      @media only screen and (max-width: 600px) {
        padding-top: 0 !important;
      }

      font-size: 10vw;
      padding-left: 7vw;
      margin-bottom: 0;
    }

    h2 {
      margin-top: 0;
      padding-left: 9vw;
    }

    h3 {
      margin-top: 0;
      padding-left: 9vw;
    }

    header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: sticky;
      top: 0;
      padding: 8px;

      nav {
        padding: 8px;

        ul {
          list-style: none;
          margin: 0;
          display: flex;

          li {
            margin: 0;

            a,
            a:visited,
            a:hover,
            a:active,
            a:focus {
              text-decoration: none;
              color: $secondary;
              margin: 8px;
              background-image: none;
              text-shadow: none;
              padding-bottom: 4px;

              &.current {
                border-bottom: 2px solid $secondary;
              }
            }
          }

          hr {
            height: 0.25rem;
            width: 25%;
            margin: 0;
            background: tomato;
            border: none;
            transition: 0.3s ease-in-out;
          }
        }
      }

      .logo {
        width: 100px;
        padding: 8px;
        margin: 0;
      }
    }

    main {
      display: flex;
      flex-direction: column;

      section {
        height: 101vh;
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: 600px) {
          align-items: center !important;
        }

        &#welcome {
          padding-top: 8vw;
        }

        &:nth-child(odd) {
          background-color: $black;
          color: $primary;

          h1 {
            color: $white;
          }

          h2,
          h3,
          h4 {
            color: $primary;
          }
        }

        &:nth-child(even) {
          background-color: $white;
          color: $white;

          h1,
          h2,
          h3,
          h4 {
            color: $secondary;
          }
        }
      }
    }
  }
}
